[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[user]
	name = Nathaniel Schweinberg
	email = 314009+nathanielks@users.noreply.github.com
	signingkey = FE0207A38BD54DC4
	#signingkey = natanielks@gmail.com
[push]
  default = simple
	followTags = true
[core]
  editor = "lvim"
	excludesfile = ~/.gitignore
 # pager = delta --plus-color="#012800" --minus-color="#340001" --theme='Monokai Extended'
 pager = delta --theme='Monokai Extended'
[interactive]
    diffFilter = delta --color-only
	singleKey = yes
[difftool]
	prompt = false
[mergetool]
	prompt = false
[commit]
	gpgsign = true
  #gpgsign = true
[merge]
  tool = meld
[mergetool "meld"]
  # Choose one of these 2 lines (not both!) explained below.
  cmd = meld "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"
  cmd = meld "$LOCAL" "$BASE" "$REMOTE" --output "$MERGED"
[diff]
    tool = meld
[difftool]
    prompt = false
[difftool "meld"]
    cmd = meld "$LOCAL" "$REMOTE"
[status]
  showUntrackedFiles = all
  # Sometimes a newly-added folder, since it's only one line in git status, can slip under the radar.
  # https://git-scm.com/docs/git-config#git-config-statusshowUntrackedFiles
[alias]
  prune = fetch --prune
  # Because I constantly forget how to do this
  # https://git-scm.com/docs/git-fetch#git-fetch--p

  undo = reset --soft HEAD^
  # Not quite as common as an amend, but still common
  # https://git-scm.com/docs/git-reset#git-reset-emgitresetemltmodegtltcommitgt

  stash-all = stash save --include-untracked
  # We wanna grab those pesky un-added files!
  # https://git-scm.com/docs/git-stash#
; [pull]
	; ff = only
[pull]
	rebase = false
[init]
	defaultBranch = main
